<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Blog</title>
</head>
<body class="text-bg-dark">
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
  <div class="container">
    <header class="mb-auto">
    <div>
        <a class="logo" href="/"><h3 href="/" class="logo float-md-start mb-0">MyBlog</h3></a>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold" href="/about">About</a>
        <a class="nav-link fw-bold" href="/contact">Contact</a>
      </nav>
    </div>
  </header>
  </div>

  <main>
    {% block body %}{% endblock %}
  </main>

  <footer class=" footer mt-auto text-white-50">
    <p>Выполнил -  <a href="/about" class="text-white">Тюрин Алексей</a>, группа <a href="/contact" class="text-white">IT-СИП-23-В1</a>.</p>
  </footer>
</div>
</body>
</html>