{% extends "base.html" %}

{% block body %}
    <h1 class="title">Мои контакты</h1>
    <div class="container flex jc">
     <div class="card">
       <div class="face face1">
         <div class="content">
            <i class="fab fa-windows"></i>
           <h3>Обучаюсь</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>Обучаюсь в "IThub - college" на бизнес-роле "WEB и мультимидийная разработка" по специальности Frontend - developer с сентября 2023г.</p>
         </div>
       </div>
    </div>

    <div class="card">
       <div class="face face1">
         <div class="content">
             <i class="fab fa-android"></i>
             <h3>Обратная связь</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>
               WhatsApp - +79143835943 <br>
               Telegram - @mechtatel_vb <br>
               Почта - alaxche@gmail.com
           </p>
         </div>
       </div>
    </div>


    <div class="card">
       <div class="face face1">
         <div class="content">
           <i class="fab fa-apple"></i>
            <h3>GitHub</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <p>
               Более подробно с моими работами можно познакомиться <a href="https://github.com/TyurinAleksey">https://github.com/TyurinAleksey</a>
           </p>
         </div>
       </div>
    </div>






  </div>
{% endblock %}